nav{
    background: linear-gradient(to right, #950b0b , #440606);
    color: white;
    .content{
        display: flex;
        justify-content: space-between;
        align-self: center;
        padding: 10px 0;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-self: center;
            width: 20%;
            margin: 0;
            li{
                cursor: pointer;
                font-size: 22px;
                color:#fff;
                text-decoration: none;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}