

<div class="item" >
    <div routerLink="/details/{{product.id}}">
    <img src="{{product.image}}" alt="">
    <div class="body">
        <h4>{{product.title}}</h4>
        <p>{{product.description}}</p>
    </div>
    </div>
    <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
        <button class="btn btn-success" *ngIf="amount==0" (click)="add($event)">Add To Cart</button>
        <span class="input-group m-2" *ngIf="amount!=0">
            <button class="btn btn-outline-danger" type="button" (click)="add($event)" [disabled]="amount==10">Add</button>
            <input type="number" class="form-control" [(ngModel)]="amount"  readonly max="10"  >
        </span>
        <span class="price">{{product.price|currency}}</span>
    </div>
</div>
